/* add your CSS here */
.top {
	width: 320px;
	background-color: #71B3F4; /*Container color (light blue)*/
	border-radius: 5px;
	border-style: solid;
	border-width: 0.5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 5px 5px 0px #8710FE;
}
.name { /*Styling the title*/
	font-family: "Comic Sans MS";
	color: #8710FE;
	font-size: 25px;
	font-weight: thick;
	padding-bottom: -1em;

}
.foto { /*Styling the picture*/
	height: 200px;
	width:320px;
	padding-bottom: 10px;
}
.content { /*Configuring (styling the box with the content*/
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.interesting { /*Cursive letters in the interesting fact*/
	font-style: italic;
}
.list {
	list-style-type: none; /*Deletes the bullet points of the list.*/
	padding-left: 0;
}
.dato {
	font-weight: bold; /*Styles the list items.*/
	color: #8710FE;
}
.content {
	border-radius: 5px;
	border-style: solid;
	border-width: 0.5px;
	width: 300px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-color: #8710FE;
}
